.nav-bar{
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #24292f;
    color: white;
    padding: 8px;
}

.main {
    margin: auto;
    width: 96%;

    .info-container{
        display: flex; margin-top: 30px; justify-content: space-between;

        .left{
            width: 74%
        }

        .right{
            width: 24%;
    display: flex;
    flex-direction: column;
    align-items: center;
        }
    }

    

    
    
}

@media (max-width: 400px){
    .main{
        width: 100%;

        .info-container{
            display: flex; margin-top: 30px; flex-direction: column;
    
            .left{
                width: 100%
            }
    
            .right{
                width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
            }
        }
    }

}

.banner{
    height: 500px;
    overflow: hidden;
    position: relative;
    margin: auto;

    .img-container{
        position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('../assets/IMG-20230912-WA0006.jpg');
    background-position: center;
    }

    // background-image: url('');
    // background-repeat: no-repeat;
    // background-size: auto;
    // width: 100%;
    // height: auto;
    // background-size: 100%;
    // width: 100%;
    // height: 600px;
}

.scroll-bars{
    margin-top: 16px;
    box-shadow: 0 3px 1px -2px #0003, 0 2px 2px #00000024, 0 1px 5px #0000001f;
    padding: 16px 0 ;
}

.about-container{
    
    text-align: center;
    box-shadow: 0 3px 1px -2px #0003, 0 2px 2px #00000024, 0 1px 5px #0000001f;
    padding: 16px 0px;
    .containers{
        display: flex;
        
        justify-content: space-around;
        align-items: center;
    
        .ind-container{
            display: flex;
            flex-direction: column;
            align-items: center;
            
            width: 15%;
            margin-top: 36px;
            padding: 4px;
            text-align: center;
        }
    }
}

.item-strip{
    padding: 8px 16px;
    display: flex;
   
    flex-wrap: wrap;
    margin-bottom: 36px;

    // justify-content: space-around;
}

.item-card{
    width: 265px;
    height: 330px;
    overflow: hidden;
    border: 1px solid;
    border-radius: 8px;
    margin-top: 8px;
    margin-right: 32px;

    .img-card{
        max-width: 275px;
        height: auto;

    }
}

