<div class="nav-bar">
  <span>Crafty Gesture</span>

  
    
  <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
    <mat-icon>more_vert</mat-icon>
  </button>
  
</div>



<main class="main">
  <div class="banner">
    <a class="img-container"></a>
  </div>
  <div style="display: flex; margin-top: 30px; justify-content: space-between;">
    <div style="width: 74%;">
      <section class="about-container">
  
        <h2 class="mat-headline-1">SPREADING HAPPINESS THROUGH ART
        </h2>
      
          <p>Experience the joy through handcrafted products and exploratory art sessions</p>
      
          <div class="containers">
            <div class="ind-container">
              <mat-icon>favorite</mat-icon>
              <p style="font-weight: bold;">CRAFTED JUST FOR U
                
                </p>
      
                <p>
                  Unleash the power of personalization with our handmade resin treasures. Each item is meticulously crafted to reflect your unique style and sentiments.
                </p>
            </div>
            <div class="ind-container">
              <mat-icon>favorite</mat-icon>
              <p style="font-weight: bold;">BEYOND ORDINARY GIFTS
                </p>
      
                <p>
                  Elevate your gifting game! Our range includes stunning clocks, enchanting nameplates, elegant platters, preserved varmalas, bespoke jewelry, charming keychains, and more – all waiting to be personalized for your special moments.
                </p>
            </div>
            <div class="ind-container">
              <mat-icon>favorite</mat-icon>
              <p style="font-weight: bold;">YOUR STORY IN EVERY DETAIL
                </p>
      
                <p>
                  From birthdays to weddings, our personalized gifts tell a story. Add a personal touch that resonates with the occasion, creating memories that last a lifetime.
                </p>
            </div>
            <div class="ind-container">
              <mat-icon>favorite</mat-icon>
              <p style="font-weight: bold;">UNIQUE, LIKE YOU
                </p>
      
                <p>
                  No two gifts are alike. Celebrate individuality with our one-of-a-kind handmade creations, ensuring your gift stands out in the crowd.
                </p>
            </div>
            
      
          </div>
      
      </section>
      
      
     <section class="scroll-bars">
      <h2 style="text-align: center; font-weight: bold">LATEST</h2>
      <section class="item-strip most-sold">
        <div class="item-card">
          <img class="img-card" src="../assets/flag-1244649_1280.jpg"/>
          <section style="padding: 8px;">
            <p>"Our Happy Place" miniature wall</p>
            <div style="display: flex; align-items: center; ">
              <mat-icon>grade_border</mat-icon>
              <mat-icon>grade_border</mat-icon>
              <mat-icon>grade_border</mat-icon>
              <mat-icon>grade_border</mat-icon>
              <mat-icon>grade_border</mat-icon>
            </div>
            <p>₹3250.00</p>
          </section>
          
        </div>
        
        <div class="item-card">
          <img class="img-card" src="../assets/flag-1244649_1280.jpg"/>
          <section style="padding: 8px;">
            <p>"Our Happy Place" miniature wall</p>
            <div style="display: flex; align-items: center; ">
              <mat-icon>grade_border</mat-icon>
              <mat-icon>grade_border</mat-icon>
              <mat-icon>grade_border</mat-icon>
              <mat-icon>grade_border</mat-icon>
              <mat-icon>grade_border</mat-icon>
            </div>
            <p>₹3250.00</p>
          </section>
          
        </div>
        <div class="item-card">
          <img class="img-card" src="../assets/flag-1244649_1280.jpg"/>
          <section style="padding: 8px;">
            <p>"Our Happy Place" miniature wall</p>
            <div style="display: flex; align-items: center; ">
              <mat-icon>grade_border</mat-icon>
              <mat-icon>grade_border</mat-icon>
              <mat-icon>grade_border</mat-icon>
              <mat-icon>grade_border</mat-icon>
              <mat-icon>grade_border</mat-icon>
            </div>
            <p>₹3250.00</p>
          </section>
          
        </div>
        <div class="item-card">
          <img class="img-card" src="../assets/flag-1244649_1280.jpg"/>
          <section style="padding: 8px;">
            <p>"Our Happy Place" miniature wall</p>
            <div style="display: flex; align-items: center; ">
              <mat-icon>grade_border</mat-icon>
              <mat-icon>grade_border</mat-icon>
              <mat-icon>grade_border</mat-icon>
              <mat-icon>grade_border</mat-icon>
              <mat-icon>grade_border</mat-icon>
            </div>
            <p>₹3250.00</p>
          </section>
          
        </div>
        <div class="item-card">
          <img class="img-card" src="../assets/flag-1244649_1280.jpg"/>
          <section style="padding: 8px;">
            <p>"Our Happy Place" miniature wall</p>
            <div style="display: flex; align-items: center; ">
              <mat-icon>grade_border</mat-icon>
              <mat-icon>grade_border</mat-icon>
              <mat-icon>grade_border</mat-icon>
              <mat-icon>grade_border</mat-icon>
              <mat-icon>grade_border</mat-icon>
            </div>
            <p>₹3250.00</p>
          </section>
          
        </div>
      </section>
     
     </section>

     <section  class="scroll-bars">
      <h2 style="text-align: center; font-weight: bold;">WEDDING GIFTS</h2>
      <section class="item-strip wedding-gift">
        <div class="item-card">
          <img class="img-card" src="../assets/flag-1244649_1280.jpg"/>
          <section style="padding: 8px;">
            <p>"Our Happy Place" miniature wall</p>
            <div style="display: flex; align-items: center; ">
              <mat-icon>grade_border</mat-icon>
              <mat-icon>grade_border</mat-icon>
              <mat-icon>grade_border</mat-icon>
              <mat-icon>grade_border</mat-icon>
              <mat-icon>grade_border</mat-icon>
            </div>
            <p>₹3250.00</p>
          </section>
          
        </div>
        <div class="item-card">
          <img class="img-card" src="../assets/flag-1244649_1280.jpg"/>
          <section style="padding: 8px;">
            <p>"Our Happy Place" miniature wall</p>
            <div style="display: flex; align-items: center; ">
              <mat-icon>grade_border</mat-icon>
              <mat-icon>grade_border</mat-icon>
              <mat-icon>grade_border</mat-icon>
              <mat-icon>grade_border</mat-icon>
              <mat-icon>grade_border</mat-icon>
            </div>
            <p>₹3250.00</p>
          </section>
          
        </div>
      </section>
     </section>
      
      
      
      
     <section  class="scroll-bars"> 
      <h2 style="text-align: center; font-weight: bold;">BIRTHDAY GIFTS</h2>
      <section class="item-strip birthday-gift">
        <div class="item-card">
          <img class="img-card" src="../assets/flag-1244649_1280.jpg"/>
          <section style="padding: 8px;">
            <p>"Our Happy Place" miniature wall</p>
            <div style="display: flex; align-items: center; ">
              <mat-icon>grade_border</mat-icon>
              <mat-icon>grade_border</mat-icon>
              <mat-icon>grade_border</mat-icon>
              <mat-icon>grade_border</mat-icon>
              <mat-icon>grade_border</mat-icon>
            </div>
            <p>₹3250.00</p>
          </section>
          
        </div>
      </section>
     </section>
      
      <section  class="scroll-bars">
        <h2 style="text-align: center;font-weight: bold;">HOME DECOR</h2>
        <section class="item-strip home-decor">
          <div class="item-card">
            <img class="img-card" src="../assets/flag-1244649_1280.jpg"/>
            <section style="padding: 8px;">
              <p>"Our Happy Place" miniature wall</p>
              <div style="display: flex; align-items: center; ">
                <mat-icon>grade_border</mat-icon>
                <mat-icon>grade_border</mat-icon>
                <mat-icon>grade_border</mat-icon>
                <mat-icon>grade_border</mat-icon>
                <mat-icon>grade_border</mat-icon>
              </div>
              <p>₹3250.00</p>
            </section>
            
          </div>
          <div class="item-card">
            <img class="img-card" src="../assets/flag-1244649_1280.jpg"/>
            <section style="padding: 8px;">
              <p>"Our Happy Place" miniature wall</p>
              <div style="display: flex; align-items: center; ">
                <mat-icon>grade_border</mat-icon>
                <mat-icon>grade_border</mat-icon>
                <mat-icon>grade_border</mat-icon>
                <mat-icon>grade_border</mat-icon>
                <mat-icon>grade_border</mat-icon>
              </div>
              <p>₹3250.00</p>
            </section>
            
          </div>
        </section>
      </section>
      
      <section  class="scroll-bars">
        <h2 style="text-align: center;font-weight: bold;">MISC</h2>
        <section class="item-strip misc">
          <div class="item-card">
            <img class="img-card" src="../assets/flag-1244649_1280.jpg"/>
            <section style="padding: 8px;">
              <p>"Our Happy Place" miniature wall</p>
              <div style="display: flex; align-items: center; ">
                <mat-icon>grade_border</mat-icon>
                <mat-icon>grade_border</mat-icon>
                <mat-icon>grade_border</mat-icon>
                <mat-icon>grade_border</mat-icon>
                <mat-icon>grade_border</mat-icon>
              </div>
              <p>₹3250.00</p>
            </section>
            
          </div>
          <div class="item-card">
            <img class="img-card" src="../assets/flag-1244649_1280.jpg"/>
            <section style="padding: 8px;">
              <p>"Our Happy Place" miniature wall</p>
              <div style="display: flex; align-items: center; ">
                <mat-icon>grade_border</mat-icon>
                <mat-icon>grade_border</mat-icon>
                <mat-icon>grade_border</mat-icon>
                <mat-icon>grade_border</mat-icon>
                <mat-icon>grade_border</mat-icon>
              </div>
              <p>₹3250.00</p>
            </section>
            
          </div>
          <div class="item-card">
            <img class="img-card" src="../assets/flag-1244649_1280.jpg"/>
            <section style="padding: 8px;">
              <p>"Our Happy Place" miniature wall</p>
              <div style="display: flex; align-items: center; ">
                <mat-icon>grade_border</mat-icon>
                <mat-icon>grade_border</mat-icon>
                <mat-icon>grade_border</mat-icon>
                <mat-icon>grade_border</mat-icon>
                <mat-icon>grade_border</mat-icon>
              </div>
              <p>₹3250.00</p>
            </section>
            
          </div>
        </section>
      </section>
      
      
    </div>
  
    <div style=" width: 24%;
    display: flex;
    flex-direction: column;
    align-items: center;">
      
        <mat-card style="    height: 150px;
        background-color: #0088ff;
        border-radius: 8px;
        width: 100%;
    " class="mat-card mat-focus-indicator my-2 custom-primary ng-star-inserted">

        </mat-card>

        <div style="box-shadow: 0 3px 1px -2px #0003, 0 2px 2px #00000024, 0 1px 5px #0000001f; width: 100%; margin-top: 16px; padding: 16px;"> 
          <h2 style="text-align: center;" class="mat-headline-1">TESTIMONIALS
          </h2>

          <div style="display: flex; flex-direction: column; justify-content: center ; align-items: center;">
            <div class="item-card" style="margin-right: 0px; margin-bottom: 16px;">
              <img class="img-card" src="../assets/flag-1244649_1280.jpg"/>
              <section style="padding: 8px;">
                <p>Received a personalized clock for my anniversary, and it was beyond my expectations! The craftsmanship truly speaks volumes about the dedication put into each piece.</p>
                
              </section>
              
            </div>
    
            <div class="item-card" style="margin-right: 0px;  margin-bottom: 16px;">
              <img class="img-card" src="../assets/flag-1244649_1280.jpg"/>
              <section style="padding: 8px;">
                <p>The preserved varmala was the highlight of our wedding memories. Such a unique concept, and the attention to detail was impeccable. Highly recommend!</p>
                
              </section>
              
            </div>
    
            <div class="item-card" style="margin-right: 0px;  margin-bottom: 16px;">
              <img class="img-card" src="../assets/flag-1244649_1280.jpg"/>
              <section style="padding: 8px;">
                <p>From ordering a custom keychain to surprising my best friend with a personalized nameplate, every experience with [Your Shop Name] has been delightful. It's like they read my mind!</p>
                
              </section>
              
            </div>
          </div>
          
            
        </div>
      
     
        
        
      
    </div>
  </div>
  

  

  

</main>



<mat-menu #menu="matMenu">
  <button mat-menu-item>
    <mat-icon>dialpad</mat-icon>
    <span>Redial</span>
  </button>
</mat-menu>